/Alarm.class
/AminusB.class
/AmodB.class
/AplusB.class
/Average.class
/HelloWorld.class
/LeapYear.class
/Multi.class
/Nprint.class
/NprintReverse.class
/NumCompare.class
/NumCount.class
/StringRepeat.class
/Verify.class
/WordCount.class
/WordMost.class
/maxNum.class
/starWrite_1.class
/starWrite_2.class
